* {
    margin:0;
    padding:0;
}
li {
    list-style:none;
}
a {
        text-decoration: none;
}
body {
    /* height: 3000px; */
    background-color: #f3f5f7;
}
.w {
    width: 1200px;
    margin:auto;
}

.clearfix:before,.clearfix:after {
    content:"";
    display: table;

}
.clearfix:after{
    clear:both;
}
/* .clearfix {
    *zoom:1;
} */

.header {
    height:42px;
    /* background-color: pink; */
    /* 重叠w中的margin  */
    margin: 30px auto;
}
.logo {
    float: left;
    width: 198px;
    height: 42px; 
}
.nav {
    float: left;
    margin-left:60px; 
    /* 不给宽度是为了防止加新链接把宽度堵死 */
}
.nav ul li {
    /* li是块级元素 */
    float: left;
    margin:0 15px;
}
/* a是行内元素需要转换为块级元素才能设置宽高来实现hover等效果
 */
.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color:#050505;
} 
.nav ul li a:hover{
    border-bottom:2px solid #00a4ff;
    color: #00a4ff;
}
.search {
    float:left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 70px;
}
.search input {
    float:left;
    /* 宽度360减去padding15  */
     width: 345px;
     height: 40px;
     border: 1px solid #00a4ff;
     border-right:0;
     color: #bfbfbf; 
     font-size: 14px;
    padding-left: 15px
}
/* input 和button都是行内快元素之间有缝隙就大于了父盒子的宽度 */
/* 浮动后之间没有缝隙 */
.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
    /* 按钮默认有边框去掉 */
    border:0;
}
.user{
    float:right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color:#666;
    align-items: center;
        /* 垂直居中 */
    gap: 8px;
        /* 图片和文字之间的间距 */
}
.user img {
    width: 30px;
    /* 限制宽度 */
    height: 30px;
    /* 限制高度 */
    border-radius: 50%;
    /* 可选：圆形头像 */
    vertical-align: middle;
    /* 兜底兼容（如果不用 flex） */
}

/* banner区域 */
.banner {
    height: 421px;
    background-color: #1c036c;
}
.banner .w {
    height: 421px;
    background:url(images/banner.png) no-repeat top center;
}
.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color:rgba(0,0,0,0.3)
}
.subnav ul li {
    line-height: 45px;
    height: 45px;
    padding: 0 20px;   
}
.subnav ul li a {
    font: size 14px;
    color:#fff;
}
.subnav ul li a span {
    float: right;
}
.subnav ul li a:hover {
    color:#00a4ff
}
.course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    /* 浮动的盒子不会有外边距合并的问题 */
    background-color: #fff;
}
.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color:#fff;
}
.bd {
    padding:0 20px;
      
}
.bd ul li {
    padding: 10px 0; 
    border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
    font: size 16px;
    color:#4e4e4e
}
.bd ul li p {
    font: size 12px;
    color:#a5a5a5; 
}
.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
} 

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
     line-height: 60px;
     /* 行高会继承 */
}
.goods h3 {
    float:left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods ul{
    float: left;
    margin-left: 30px;
}
.goods ul li{
    /* display: inline-block; */
    float: left;
}
.goods ul li a {
    padding:0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}
.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.box {
    margin-top: 30px;
}
.box-hd {
    height: 45px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color:#494949;
}
.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd ul {
    width: 1225px;
}
.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    /* 把li的父亲ul修改的足够大就能够装下五个盒子，且右边的margin看不见 */
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li img {
    width: 100%;
}
.box-bd ul li h4 {
    margin:20px 20px 20px 25px;
    /* 上右下左 */
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}
.box-bd .info span {
    color:#ff7c2d;
}

.footer {
    height: 415px;
    background-color: #fff;
}
.footer .w {
    padding-top: 35px;
}
.footer .copyright {
    float: left;
    margin-left: 15px;
}
.copyright p {
    font-style: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}
.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border:1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    font-size: 16px ;
    color: #00a4ff;
}
.footer .links {
    float:right;
    margin-right: 15px;
}
.links dl {
    float: left;
    margin-left: 100px;
}
.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.links dl dd a {
    color: #333;
    font-size: 12px;
}
